<div class="px-3">
  <h1 class="mb-3 text-center">Talk with your match !<%= @chatroom.name %></h1>

  <div class="messages" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <div class="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message, first_user: @chatroom.messages.first.user.id %>
      <% end %>
    </div>
  </div>

  <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Type your message...#{@chatroom.name}" %>
  <% end %>

  <%= link_to "Continuer", reveal_match_path(@chatroom.matching.id), class: "btn btn-gradient2" %>


</div>
