<div class="px-3">
  <h1 class="mb-3 mt-3 text-center"><%= @user.profile.first_name %></h1>

  <div class="messages" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-chatroom-subscription-user-id-value="<%= current_user.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message, first_user: @chatroom.messages.first.user.id %>
      <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Ton message...#{@chatroom.name}" %>
  <% end %>

  <%= link_to "", reveal_match_path(@chatroom.matching.id), class: "position-absolute top-0 end-0 btn-secret" %>

</div>
