<br>
<div class="container">
  <h1>Votre rencontre</h1>
  <h2>Quelques idées d'activités :</h2>
   <br>
  <h3>Un verre ?</h3>
    <%= image_tag("cocobar.png", class:"activity_image") %>
   <br>
  <h3>Un cinéma ?</h3>
    <%= image_tag("cinema.jpg", class:"activity_image") %>
   <br>
  <h3>Un diner en tête à tête ?</h3>
    <%= image_tag("surpriz.jpg", class:"activity_image") %>
    <br>
  <h3>Un musée ?</h3>
    <%= image_tag("musee.jpg", class:"activity_image") %>
     <br>
  <h3>Une balade ?</h3>
    <%= image_tag("balade.jpg", class:"activity_image") %>
  <br>
  <br>
  <%= link_to "Retour", class: "btn-gradient" %>
</div>
