<div class="container">
  <h1>Votre rencontre</h1>
  <h2>Quelques idées d'activités :</h2>
  <ul>
    <li>Prenez un verre !</li>
    <%= image_tag("cocobar.png", class:"activity_image") %>
    <li>Un cinéma ?</li>
    <%= image_tag("cinema.jpeg", class:"activity_image") %>
    <li>Prenez un diner en tête à tête</li>
    <%= image_tag("surpriz.jpeg", class:"activity_image") %>
    <li>Visitez un musée</li>
    <%= image_tag("musee.jpeg", class:"activity_image") %>
    <li>Baladez-vous</li>
    <%= image_tag("balade.jpeg", class:"activity_image") %>
  </ul>
  <br>
  <br>
  <%= link_to "Retour", class: "btn-gradient" %>
</div>
