<div class="container">
  <%= simple_form_for @user, url: personality_questionnaire_path, method: :post do |f| %>
    <div class="wrapper-questionnaire">
    <% @questions.each_with_index do |question, index|%>
      <div class="container-questionnaire panel-<%=index%>">
        <h2>
          <%= question.label %>
        </h2>
        <div class="container-responses">
          <div class="container-answer">
            <% question.responses.each do |response| %>
              <div>
                <%= check_box_tag 'user[response_ids][]', response.id, false, id: "response-#{response.id}", class: "checkbox-transparent" %>
                <%= label_tag "response-#{response.id}", response.label %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container-questionnaire panel-last">
      <h2>Es-tu prêt ?</h2>
      <%= link_to "Valider", matches_launch_path, class: "btn btn-principal container-submit" %>
    </div>
    </div>
  <% end %>
</div>
