<h1 id="questionnaire-title">Questionnaire de personnalité</h1>

<div class="container">
  <%= simple_form_for @user, url: personality_questionnaire_path, method: :post do |f| %>
    <div class="wrapper-questionnaire">
    <% @questions.each do |question|%>
      <div class="container-questionnaire">
        <h2>
          <%= question.label %>
        </h2>
        <div class="container-responses">
          <div class="container-input">
            <% question.responses.each do |response| %>
              <div class= "checkbox-transparent">
                <%= check_box_tag 'user[response_ids][]', response.id, false, id: "response-#{response.id}" %>
              </div>
              <%= label_tag "response-#{response.id}", response.label %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "Valider", matches_launch_path, class: "btn btn-primary container-submit" %>
    </div>
  <% end %>
</div>
