<div class="container">
  <%= simple_form_for @user, url: personality_questionnaire_path, method: :post do |f| %>
    <div class="wrapper-questionnaire">
    <% @questions.each_with_index do |question, index|%>
      <div class="container-questionnaire panel-<%=index%>">
        <h2>
          <%= question.label %>
        </h2>
        <div class="container-responses">
          <div class="container-answer">
            <% question.responses.each do |response| %>
              <div>
                <%= check_box_tag 'user[response_ids][]', response.id, false, id: "response-#{response.id}", class: "checkbox-transparent" %>
                <%= label_tag "response-#{response.id}", response.label %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="container-questionnaire panel-last">
      <h1 class="titre-pret"><%= current_user.profile.first_name %> es-tu prêt ?</h1>
        <br>
        <%= link_to matched_users_path do %>
          <div class="activity_image1 mt-5">
            <p class="parag-btn">Lancer la recherche</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
