<!DOCTYPE html>
<html>
  <head>
    <title>VIBES - Application de rencontre gratuite</title>
    <meta name="description" content="Rencontre ton véritable amour avec Vibes, la première application de rencontre à générer des matchs uniquement basés sur la personnalité et non le physique.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="body">
    <div style="min-height: 100vh; overflow: hidden;">
      <%= render "shared/navbar" unless action_name == "home" || ( action_name== "result" )%>
      <%= yield %>
      <%= render 'shared/footer' unless action_name == "home" || (action_name == "new" && controller_name == "sessions") || (action_name == "new" && controller_name == "personality_questionnaires") %>
    </div>
  </body>
</html>
